*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior:smooth;
}

body{
  background:#0f0f14;
  color:white;
}

/* NAVBAR */
nav{
  position:fixed;
  top:0;
  width:100%;
  display:flex;
  justify-content:space-between;
  padding:15px 30px;
  background:rgba(20,20,25,0.9);
  backdrop-filter:blur(10px);
}

.logo{
  font-weight:700;
  font-size:20px;
}

.menu a{
  margin-left:18px;
  text-decoration:none;
  color:#ccc;
}

.menu a:hover{
  color:#00d4ff;
}

/* HERO */
.hero{
  height:100vh;
  display:flex;
  justify-content:center;
  align-items:center;
}

.hero h1{
  font-size:55px;
  letter-spacing:3px;
  background:linear-gradient(45deg,#00d4ff,#ffffff);
  -webkit-background-clip:text;
  -webkit-text-fill-color:transparent;
}

/* CONTAINER */
.container{
  padding:110px 25px 60px;
  max-width:1100px;
  margin:auto;
}

.title{
  text-align:center;
  margin-bottom:35px;
}

/* GRID */
.grid{
  display:grid;
  grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
  gap:20px;
}

/* CARD */
.card{
  background:#1c1c27;
  padding:20px;
  border-radius:18px;
  text-align:center;
  opacity:0;
  transform:translateY(40px);
  transition:0.4s;
}

.card.show{
  opacity:1;
  transform:translateY(0);
}

.card:hover{
  transform:translateY(-6px);
}

.card p{
  margin:10px 0;